%h1 Groups
%p You can manage groups in this page

%table.table.table-bordered.table-hover
  %thead
    %th
      Name
    %th 
      Actions
  %tbody
    - @groups.each do |group| 
      %tr
        %td
          =group.name
        %td
          %button.btn.btn-mini.btn-info 
            =link_to 'See users', administration_users_from_group_path(:id => group.id), :class => 'btn-info', id: "see_users_from_group_#{group.id}"
          %button.btn.btn-mini.btn-danger delete


      
