%h1 Machine launched

You can connect to the machine with this parameters:
%p
  %b Remote username:
  = @machine.remote_username
%p
  %b Remote password:
  = @machine.remote_password
%p
  %b Remote address:
  = @machine.ip
